<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<h1>Details des Eintrags</h1>
<p th:href="@{/{id}/detail(id=${eintragDetails.id})}"></p>
    <p style="color: red" th:text="'ID: ' + ${eintragDetails.id}"></p>
    <p style="color: darkslateblue" th:text="'Titel: ' + ${eintragDetails.titel}"></p>
    <p style="color: blue" th:text="'Name: ' + ${eintragDetails.name}"></p>
    <p style="color: chartreuse" th:text="'Nachricht: ' + ${eintragDetails.nachricht}"></p>
<br>
<a href="/form"><button type="button">Neue Nachricht verfassen!</button></a>

</body>
</html>